---
layout: base
eleventyNavigation:
  key: Dashboard
  order: 1
meta:
  title: Dashboard
  description: this is our Dashboard page.
---


<section class="font-bold">
  This is the Dashboard page
</section>
