---
layout: base
eleventyNavigation:
  key: Projects
  order: 2
meta:
  title: Projects
  description: this is our Projects page.
---


<section class="font-bold">
  This is the Projects page
</section>
